#likeButton {
  background-color: #1da1f2;
  border: none;
  color: #fff;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: flex;
 align-items: center;

  
}
#likeButton img {
    height: 50px;
    margin-top: -10px;
 
}

#likeButton:hover {
  background-color: #0c88c4;

}

#likeCount {
  margin-left: 8px;
  font-size: 14px;
  color: #333;
}
